<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.importservice.mapper.ImportSubTaskMapper">
  <resultMap id="BaseResultMap" type="com.jy.importservice.entity.ImportSubTask">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="subtask_id" jdbcType="VARCHAR" property="subtaskId" />
    <result column="sqlldr_info_id" jdbcType="VARCHAR" property="sqlldrInfoId" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jy.importservice.entity.ImportSubTask">
    <result column="ctl_context" jdbcType="LONGVARCHAR" property="ctlContext" />
  </resultMap>
  <sql id="Base_Column_List">
    id, subtask_id, sqlldr_info_id, task_id, file_name
  </sql>
  <sql id="Blob_Column_List">
    ctl_context
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_import_subtask
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectSubtasksByTaskStatus" resultType="com.jy.importservice.entity.ImportSubTask">
    select s.file_name fileName, s.ctl_context ctlContext, i.tns_url tnsUrl
    from t_import_subtask s
           inner join t_import_sqlldr_info i
                      on s.sqlldr_info_id = i.sqlldr_info_id
           inner join t_import_task t
                      on s.task_id = t.task_id
    where t.task_status = #{taskStatus}
  </select>
  <select id="selectSubStaskIds" resultType="java.lang.Long">
    select id
    from t_import_subtask
    <where>
      <foreach collection="taskIds" item="taskId">
        or task_id like #{taskId}
      </foreach>
    </where>
  </select>
  <select id="lockResource" resultType="java.lang.Integer">
    select count(1)
    from t_import_subtask
    <where>
      <foreach collection="ids" item="id">
        or id like #{id}
      </foreach>
    </where>
    for update
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_import_subtask
    <where>
      <foreach collection="ids" item="id">
        or id like #{id}
      </foreach>
    </where>
  </delete>
  <insert id="insert" parameterType="com.jy.importservice.entity.ImportSubTask">
    insert into t_import_subtask (id, subtask_id, sqlldr_info_id, task_id,
      file_name, ctl_context)
    values (#{id,jdbcType=BIGINT}, #{subtaskId,jdbcType=VARCHAR}, #{sqlldrInfoId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR},
            #{fileName,jdbcType=VARCHAR}, #{ctlContext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jy.importservice.entity.ImportSubTask">
    insert into t_import_subtask
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="subtaskId != null">
        subtask_id,
      </if>
      <if test="sqlldrInfoId != null">
        sqlldr_info_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="ctlContext != null">
        ctl_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subtaskId != null">
        #{subtaskId,jdbcType=VARCHAR},
      </if>
      <if test="sqlldrInfoId != null">
        #{sqlldrInfoId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="ctlContext != null">
        #{ctlContext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jy.importservice.entity.ImportSubTask">
    update t_import_subtask
    <set>
      <if test="subtaskId != null">
        subtask_id = #{subtaskId,jdbcType=VARCHAR},
      </if>
      <if test="sqlldrInfoId != null">
        sqlldr_info_id = #{sqlldrInfoId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="ctlContext != null">
        ctl_context = #{ctlContext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jy.importservice.entity.ImportSubTask">
    update t_import_subtask
    set subtask_id = #{subtaskId,jdbcType=VARCHAR},
      sqlldr_info_id = #{sqlldrInfoId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      ctl_context = #{ctlContext,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jy.importservice.entity.ImportSubTask">
    update t_import_subtask
    set subtask_id = #{subtaskId,jdbcType=VARCHAR},
      sqlldr_info_id = #{sqlldrInfoId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>